/* custom-datepicker.css */
.datepicker-container {
  --datepicker-background-color: #f8f9fa; /* Light background color */
  --datepicker-text-color: #333; /* Dark text color */
  --datepicker-highlight-color: #b1e81a; /* Highlight color for selected dates */
}

.datepicker-container input[type="date"],
.datepicker-container input[type="date"] * {
  background-color: var(--datepicker-background-color) !important;
  color: var(--datepicker-text-color) !important;
}

.datepicker-container input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(20%) sepia(100%) saturate(1000%) hue-rotate(180deg);
}

.datepicker-container input[type="date"]::-webkit-datetime-edit {
  color: var(--datepicker-text-color) !important;
}

.datepicker-container input[type="date"]::-webkit-datetime-edit-text {
  color: var(--datepicker-text-color) !important;
}

.datepicker-container input[type="date"]::-webkit-datetime-edit-month-field {
  color: var(--datepicker-text-color) !important;
}

.datepicker-container input[type="date"]::-webkit-datetime-edit-day-field {
  color: var(--datepicker-text-color) !important;
}

.datepicker-container input[type="date"]::-webkit-datetime-edit-year-field {
  color: var(--datepicker-text-color) !important;
}
